.all-videos-list {
  list-style-type: none;
  margin-right: 50px;
  margin-bottom: 50px;
}

.thumbnail-image {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.profile-image {
  width: 20px;
  height: 25px;
  margin-top: 20px;
}

.details-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 13px;
  color: #64748b;
}

.name {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 13px;
  color: #64748b;
  margin-bottom: 0px;
}

.details-text-container {
  width: 200px;
  padding: 5px;
  margin-left: 7px;
}

.time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.details-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.link-item {
  text-decoration: none;
}
